@charset "utf-8";

@media all and (device-width: 1440px) and (device-height: 900px) {

html {
}

#color {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	float: right;
	right: 50px;
	z-index: 1;
	border: 2px black solid;
}

header {
	background-color: #B2B2B2;
	position: absolute;
	height: 10%;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
	font-family: sans-serif;
}

#txt {
	position: relative;
	width: 100%;
	line-height: 150%;
	font-size: 50px;
}

#main {
	background-color: beige;
	padding-left: .3%;
	position: absolute;
	height: 79.7%;
	bottom: 10.3%;
	right: 0;
	left: 25%;
	width: -100%;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: sans-serif;
}

#second {
	display: none;
}

.sidenav {
  background-color: gray;
  border-right: 2px solid black;
  position: absolute;
  height: 79.7%;
  bottom: 10.3%;
  width: 25%;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
}

.sidenav button, .sidenav a {
  border-style: initial;
  font-family: sans-serif;
  padding: 1.8% 2.1% 1.8% 5%;
  text-decoration: none;
  font-size: 120%;
  color: black;
  display: block;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline-style: none;
}

.dropdown-btn, .dropdown-btnFE, .dropdown-btnTE, .dropdown-btnCO {
  border-style: initial;
  font-family: sans-serif;
  padding: 1.8% 2.1% 1.8% 5%;
  text-decoration: none;
  font-size: 120%;
  color: black;
  display: block;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline-style: none;
}

.sidenav button.ind {
  background-color: lightgray;
  padding-left: 10%;
  font-size: 110%;
}

.sidenav button:hover, .dropdown-btn:hover, .dropdown-btnFE:hover, .dropdown-btnTE:hover, .dropdown-btnCO:hover {
  color: red;
}

.active {
  background-color: white;
  color: black;
}

.dropdown-container, .dropdown-containerFE, .dropdown-containerTE, .dropdown-containerCO {
  background-color: lightblue;
}

.fa-caret-down {
  float: right;
  padding-right: 2%;
}

#footer {
	background-color: #B2B2B2;
    position: absolute;
	height: 10.3%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	font-family: sans-serif;
}

#footer > p {
	font-size: 155%;
}

.front {
	position: relative;
	z-index: 4;
}



}

/*Ipad pro portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
	
	header {
	background-color: #B2B2B2;
	position: absolute;
	height: 10%;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
	font-family: sans-serif;
}

#color {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	float: right;
	right: 50px;
	z-index: 1;
	border: 2px black solid;
}

#txt {
	position: relative;
	width: 100%;
	line-height: 500%;
	font-size: 50px;
	word-wrap: break-word;
}

#main {
	background-color: beige;
	padding-left: .5%;
	position: absolute;
	height: 79.7%;
	bottom: 10.3%;
	right: 0;
	left: 25%;
	width: -100%;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	font-size: 25px;
	font-family: sans-serif;
}

#second {
	display: none;
}

.sidenav {
  background-color: gray;
  border-right: 2px solid black;
  position: absolute;
  height: 79.7%;
  bottom: 10.3%;
  width: 25%;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
}

.sidenav button, .sidenav a {
  border-style: initial;
  font-family: sans-serif;
  padding: 20% 0% 20% 0%;
  text-decoration: none;
  font-size: 180%;
  color: black;
  display: block;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline-style: none;
}

.dropdown-btn, .dropdown-btnFE, .dropdown-btnTE, .dropdown-btnCO {
  border-style: initial;
  font-family: sans-serif;
  padding: 20% 0% 20% 0%;
  text-decoration: none;
  font-size: 180%;
  color: black;
  display: block;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline-style: none;
}

.sidenav button.ind {
  background-color: lightgray;
  #padding-left: 10%;
  font-size: 150%;
  text-align: left;
}

.sidenav button:hover, .dropdown-btn:hover, .dropdown-btnFE:hover, .dropdown-btnTE:hover, .dropdown-btnCO:hover {
  color: red;
}

.active {
  background-color: white;
  color: black;
}

.dropdown-container, .dropdown-containerFE, .dropdown-containerTE, .dropdown-containerCO {
  background-color: lightblue;
}

.fa-caret-down {
  float: right;
  padding-right: 2%;
}

#footer {
	background-color: #B2B2B2;
    position: absolute;
	height: 10.3%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	font-family: sans-serif;
}

#footer > p {
	position: relative;
	width: 100%;
	#line-height: 250%;
	font-size: 45px;
}

.front {
	position: relative;
	z-index: 4;
}

	
}

/*Ipad pro landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
	
header {
	background-color: #B2B2B2;
	position: absolute;
	height: 10%;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
	font-family: sans-serif;
}

#color {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	float: right;
	right: 50px;
	z-index: 1;
	border: 2px black solid;
}

#txt {
	position: relative;
	width: 100%;
	line-height: 200%;
	font-size: 50px;
	word-wrap: break-word;
}

#main {
	background-color: beige;
	padding-left: .5%;
	position: absolute;
	height: 79.7%;
	bottom: 10.3%;
	right: 0;
	left: 25%;
	width: -100%;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	font-size: 25px;
	font-family: sans-serif;
}

#second {
	display: none;
}

.sidenav {
  background-color: gray;
  border-right: 2px solid black;
  position: absolute;
  height: 79.7%;
  bottom: 10.3%;
  width: 25%;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
}

.sidenav button, .sidenav a {
  border-style: initial;
  font-family: sans-serif;
  padding: 20% 0% 20% 0%;
  text-decoration: none;
  font-size: 180%;
  color: black;
  display: block;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline-style: none;
}

.dropdown-btn, .dropdown-btnFE, .dropdown-btnTE, .dropdown-btnCO {
  border-style: initial;
  font-family: sans-serif;
  padding: 20% 0% 20% 0%;
  text-decoration: none;
  font-size: 180%;
  color: black;
  display: block;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline-style: none;
}

.sidenav button.ind {
  background-color: lightgray;
  #padding-left: 10%;
  font-size: 150%;
  text-align: left;
}

.sidenav button:hover, .dropdown-btn:hover, .dropdown-btnFE:hover, .dropdown-btnTE:hover, .dropdown-btnCO:hover {
  color: red;
}

.active {
  background-color: white;
  color: black;
}

.dropdown-container, .dropdown-containerFE, .dropdown-containerTE, .dropdown-containerCO {
  background-color: lightblue;
}

.fa-caret-down {
  float: right;
  padding-right: 2%;
}

#footer {
	background-color: #B2B2B2;
    position: absolute;
	height: 10.3%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	font-family: sans-serif;
}

#footer > p {
	position: relative;
	width: 100%;
	line-height: 50%;
	font-size: 45px;
}

.front {
	position: relative;
	z-index: 4;
}

}

/*Ipad portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
	
	header {
	background-color: #B2B2B2;
	position: absolute;
	height: 10%;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
	font-family: sans-serif;
}

#color {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	float: right;
	right: 10px;
	top: 5px;
	z-index: 1;
	border: 2px black solid;
}

#txt {
	position: relative;
	width: 100%;
	line-height: 200%;
	font-size: 50px;
	word-wrap: break-word;
}

#main {
	background-color: beige;
	padding-left: .5%;
	position: absolute;
	height: 79.7%;
	bottom: 10.3%;
	right: 0;
	left: 25%;
	width: -100%;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	font-size: 25px;
	font-family: sans-serif;
}

#second {
	display: none;
}

.sidenav {
  background-color: gray;
  border-right: 2px solid black;
  position: absolute;
  height: 79.7%;
  bottom: 10.3%;
  width: 25%;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
}

.sidenav button, .sidenav a {
  border-style: initial;
  font-family: sans-serif;
  padding: 20% 0% 20% 0%;
  text-decoration: none;
  font-size: 180%;
  color: black;
  display: block;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline-style: none;
}

.dropdown-btn, .dropdown-btnFE, .dropdown-btnTE, .dropdown-btnCO {
  border-style: initial;
  font-family: sans-serif;
  padding: 20% 0% 20% 0%;
  text-decoration: none;
  font-size: 180%;
  color: black;
  display: block;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline-style: none;
}

.sidenav button.ind {
  background-color: lightgray;
  #padding-left: 10%;
  font-size: 150%;
  text-align: left;
}

.sidenav button:hover, .dropdown-btn:hover, .dropdown-btnFE:hover, .dropdown-btnTE:hover, .dropdown-btnCO:hover {
  color: red;
}

.active {
  background-color: white;
  color: black;
}

.dropdown-container, .dropdown-containerFE, .dropdown-containerTE, .dropdown-containerCO {
  background-color: lightblue;
}

.fa-caret-down {
  float: right;
  padding-right: 2%;
}

#footer {
	background-color: #B2B2B2;
    position: absolute;
	height: 10.3%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	font-family: sans-serif;
}

#footer > p {
	position: relative;
	width: 100%;
	#line-height: 250%;
	font-size: 35px;
}

.front {
	position: relative;
	z-index: 4;
}
	
}

/*Ipad landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {
	
header {
	background-color: #B2B2B2;
	position: absolute;
	height: 10%;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 2;
	font-family: sans-serif;
}

#color {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	float: right;
	right: 50px;
	top: 5px;
	z-index: 1;
	border: 2px black solid;
}

#txt {
	position: relative;
	width: 100%;
	line-height: 150%;
	font-size: 50px;
	word-wrap: break-word;
}

#main {
	background-color: beige;
	padding-left: .5%;
	position: absolute;
	height: 79.7%;
	bottom: 10.3%;
	right: 0;
	left: 25%;
	width: -100%;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	font-size: 25px;
	font-family: sans-serif;
}

#second {
	display: none;
}

.sidenav {
  background-color: gray;
  border-right: 2px solid black;
  position: absolute;
  height: 79.7%;
  bottom: 10.3%;
  width: 25%;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
}

.sidenav button, .sidenav a {
  border-style: initial;
  font-family: sans-serif;
  padding: 20% 0% 20% 0%;
  text-decoration: none;
  font-size: 180%;
  color: black;
  display: block;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline-style: none;
}

.dropdown-btn, .dropdown-btnFE, .dropdown-btnTE, .dropdown-btnCO {
  border-style: initial;
  font-family: sans-serif;
  padding: 20% 0% 20% 0%;
  text-decoration: none;
  font-size: 180%;
  color: black;
  display: block;
  border-bottom: 2px solid black;
  background-color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline-style: none;
}

.sidenav button.ind {
  background-color: lightgray;
  #padding-left: 10%;
  font-size: 150%;
  text-align: left;
}

.sidenav button:hover, .dropdown-btn:hover, .dropdown-btnFE:hover, .dropdown-btnTE:hover, .dropdown-btnCO:hover {
  color: red;
}

.active {
  background-color: white;
  color: black;
}

.dropdown-container, .dropdown-containerFE, .dropdown-containerTE, .dropdown-containerCO {
  background-color: lightblue;
}

.fa-caret-down {
  float: right;
  padding-right: 2%;
}

#footer {
	background-color: #B2B2B2;
    position: absolute;
	height: 10.3%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	font-family: sans-serif;
}

#footer > p {
	position: relative;
	width: 100%;
	line-height: 10%;
	font-size: 35px;
}

.front {
	position: relative;
	z-index: 4;
}

}